# Dataset and Output
dataset/
data/
logs/
tmp/
tmp_clean/

# Trained Models and Weights
*.keras
*.h5
*.hdf5
*.ckpt
*.pb
saved_model/
packs/
*.zip
*.rar

asl_alphabet_train/
demo/


# Jupyter Notebook
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# OS/IDE
.DS_Store
.vscode/
